python-dotenv # For reading environment 
pyyaml
torch
torchvision
opencv-python # Needed for OCR in PyMuPDF
unstructured # Document loading
pymupdf     # PDF handling
pymupdf4llm # PDF to markdown conversion
beautifulsoup4 # HTML parsing
langdetect # Language detection
markdown 
markdownify # HTML to markdown conversion
transformers
transformers[mistral-common]
keybert # For keyword extraction
model2vec # For keyword embeddings
langchain
langchain-community
langchain-mistralai
langchain-chroma
mistralai # LLM
chromadb # Vector storage
onnxruntime
deepeval # Model evaluation
gradio   # For building web UIs
alive-progress     # Progress bars
sentence-transformers # For embeddings
tiktoken # Token counting
scikit-learn # ML utilities
