python-dotenv # For reading environment 
langchain
langchain-community
langchain-mistralai
unstructured # Document loading
markdown
chromadb # Vector storage
mistralai # LLM
tiktoken # For embeddings 
beautifulsoup4
onnxruntime
langdetect
